@model IEnumerable<_24CV_WEB.Models.Curriculum>

<h1 class="text-center">Lista de curriculums</h1>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha Nacimiendo</th>
                    <th>CURP</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Apellidos</td>
                        <td>@item.FechaNacimiento</td>
                        <td>@item.CURP</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>