
@model _24CV_WEB.Models.Persona

<h1 class="text-center">Bienvenido @Model.Nombre @Model.Apellidos</h1>
<p class="text-center">
    Tu fecha de nacimiento es @Model.FechaNacimiento.ToLongDateString()
</p>