@model _24CV_WEB.Models.EmailViewModel
    
<div class="row">
    @if (TempData["Email"] != null)
    {
        <div class="alert alert-success">
            Se ha recibido la información del correo @TempData["Email"] <br>
            <p class="text-sm-center">@TempData["Comentario"]</p>
        </div>
    }


    <div class="col-12">
        <h2 class="text-center">Ejemplo de envio de información</h2>
        <p class="text-center">Envío de formulario pasando datos de la vista al controlador.</p>
    </div>
    <div class="col-8">
        <form asp-action="EnviarInformacion" asp-controller="Formularios" method="post">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" asp-for="Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Comentario</label>
                <textarea class="form-control" asp-for="Comentario" rows="4"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>

    </div>
    <div class="col-4">
        <h3 class="text-center">Enviar información al correo capturado</h3>
        <p>Se enviará un correo con la información capturada.</p>
    </div>
</div>